body {
  font-family: Arial;
  margin: 0;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
    width: 100vw;
    height: 65px;
    background-color: rgb(201, 197, 188);
    color: black;
    top: 0%;
    position: fixed;
}
footer {
    width: 100vw;
    height: 25px;
    background-color: rgb(201, 197, 188);
    padding-left: 30px;
    bottom: 0%;
    position: fixed;
}
table {
  border-collapse: collapse;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  margin-bottom: 18px;
}
th, td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  white-space: nowrap;
}
th {
  background-color: #f0f0f0;
  cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    gap: 20px;
}
.navbar a{
    color: rgb(0, 0, 0);
    padding: 15px 20px;

}
.navbar img.nav-icon{
    max-width: 80px;
    max-height: 28px;
}
.navbar a:hover{
    background-color: blue;
}
.legend {
  margin: 20px 0;
  text-align: center;
}
.legend-item {
  display: inline-block;
  margin-right: 15px;
}
.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}